@import 'tailwindcss';

@layer base {
  body {
    background-color: black;
    color: black;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    /* Force raw scrolling, disable smooth behavior */
    scroll-behavior: auto; 
    margin: 0;
    padding: 0;
  }

  /* Force all links to look raw unless specified */
  a {
    color: #e5e5e5; /*  */
    /*text-decoration: underline;*/
  }

  a:hover {
    color: #2563eb; /* Tailwind blue-600 */
  }

  /* Bring back the aggressive focus outlines from 1999 */
  a:focus, button:focus, input:focus {
    outline: 2px solid black;
    outline-offset: 1px;
  }
}

.crt-overlay {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 4px;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 50;
}